body {
  font-family: sans-serif;

  color: #b3aca7;
}



#form {
  position: flex;
  width: 500px;
  margin: 50px auto 100px auto;
}

input,textarea {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 470px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
label{
  margin-top: 5px;
}

.button {

  margin-top: 10px;
  margin-left: 130px;
  width: 200px;
  height: 36px;
  border-radius: 18px;
  background-color: #1c89ff;
  border: solid 1px transparent;
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.container {

  display: flex;
  flex-direction: column;
  margin-top: 40px;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}